<div class="relative overflow-x-auto rounded-lg">
  <table class="w-full text-sm text-left">
    <!-- table head -->
    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input type="checkbox" class="w-4 h-4 rounded focus:ring-2">
          </div>
        </th>

        <!-- <th scope="col" class="px-6 py-3">Item name</th>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">QTY</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3"> -->
        <ng-container *ngFor="let item of headerList">
          <th scope="col" class="px-6 py-3" >{{item}}</th>
        </ng-container>

      </tr>

    </thead>
    <!-- end table head -->

    <!-- tble body -->
    <tbody>
      <tr *ngFor="let item of list"
      class="bg-white border-b hover:bg-gray-50">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input type="checkbox" class="w-4 h-4 rounded focus:ring-2">
          </div>
        </td>
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-gray-900 uppercase">{{item.numberSO}}</th>
        <td class="px-6 py-4">{{item.customer}}</td>
        <td class="px-6 py-4">{{item.product}}</td>
        <td class="px-6 py-4 uppercase">{{item.status}}</td>
        <td class="px-6 py-4">{{currency(item.price)}}</td>
        <td class="px-6 py-4">{{dateFormat(item.deadLine)}}</td>
        <td class="px-6 py-4 uppercase">{{item.PIC}}</td>
        <td class="px-6 py-4">{{dateFormat(item.lastUpdate)}}</td>
      </tr>

    </tbody>
    <!-- end table body -->

  </table>

</div>
