<div class="relative overflow-x-auto rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-400 uppercase bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">
          Item name
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          QTY
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList" class="bg-gray-800 border-b border-gray-700 hover:bg-gray-600">
        <th class="px-6 py-4">{{item.itemName}}</th>
        <td class="px-6 py-4">{{item.category}}</td>
        <td class="px-6 py-4">{{item.qty}}</td>
        <td class="px-6 py-4">{{item.status}}</td>
      </tr>
    </tbody>

  </table>

</div>
