<aside class=" w-64 fixed top-0 left-0 z-40 h-screen pt-16 transition-transform shadow-sm bg-white" aria-label="Sidebar">
  <div class="flex flex-col h-full p-4 overflow-y-auto justify-between">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="dashboard/summary"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faChartPie" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">Dashboard</span>
        </a>
      </li>

      <li>
        <a
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faRetweet" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">Purchasing</span>
        </a>
      </li>

      <li>
        <a
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faBoxesStacked" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">Inventory</span>
        </a>
      </li>

      <li>
        <a
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faClipboard" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">Report Items</span>
        </a>
      </li>
    </ul>

    <ul class="space-y-2 pt-4 mt-4 font-medium border-t border-slate-400">
      <li>
        <a
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faUserGroup" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">User Management</span>
        </a>
      </li>

      <li>
        <a
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-slate-400 rounded-lg hover:bg-blue-400 hover:text-slate-100">
          <fa-icon [icon]="faGears" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="">Settings</span>
        </a>
      </li>
    </ul>

  </div>
</aside>
