<aside class="w-64 fixed top-0 left-0 z-40 h-screen pt-14 transition-transform bg-primary-slate" aria-label="Sidebar">
  <div class="h-full p-4 overflow-y-auto bg-slate-200">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="dashboard/summary"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-secondary-blue rounded-lg hover:bg-primary-blue hover:text-primary-slate">
          <fa-icon [icon]="faChartPie" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <button
        type="button"
        (click)="dropdown()"
        class="flex items-center w-full py-2 text-base text-secondary-blue transition duration-75 rounded-lg group hover:bg-primary-blue hover:text-primary-slate">
          <fa-icon [icon]="faScrewdriverWrench" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span>Tools Management</span>
          <fa-icon [icon]="faChevronDown" [fixedWidth]="true" class="mx-2"></fa-icon>
        </button>
        <ul class="py-2 space-y-2 ml-9" *ngIf="status">
          <li>
            <a routerLink="dashboard/item-list"
            routerLinkActive="active"
            class="flex items-center w-full py-2 text-secondary-blue transition duration-75 rounded-lg group hover:bg-primary-blue hover:text-primary-slate">
              <fa-icon [icon]="faRetweet" [fixedWidth]="true" class="mx-2"></fa-icon>
              <span>Rental</span>
            </a>
          </li>
          <li>
            <a routerLink="dashboard/item-list"
            routerLinkActive="active"
            class="flex items-center w-full py-2 text-secondary-blue transition duration-75 rounded-lg group hover:bg-primary-blue hover:text-primary-slate">
              <fa-icon [icon]="faListUl" [fixedWidth]="true" class="mx-2"></fa-icon>
              <span>Item</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a routerLink="dashboard/item-list"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-secondary-blue rounded-lg hover:bg-primary-blue hover:text-primary-slate">
          <fa-icon [icon]="faHeadset" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span>Customer Center</span>
        </a>
      </li>

      <li>
        <a routerLink="dashboard/item-list"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-secondary-blue rounded-lg hover:bg-primary-blue hover:text-primary-slate">
          <fa-icon [icon]="faGears" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
