<aside class="w-64 fixed top-0 left-0 z-40 h-screen pt-14 transition-transform shadow bg-white" aria-label="Sidebar">
  <div class="h-full p-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="dashboard/summary"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-900">
          <fa-icon [icon]="faChartPie" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="text-gray-900">Dashboard</span>
        </a>
      </li>

      <li>
        <button
        type="button"
        (click)="dropdown()"
        class="flex items-center w-full py-2 text-base text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-gray-900">
          <fa-icon [icon]="faScrewdriverWrench" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="text-gray-900">Tools Management</span>
          <fa-icon [icon]="faChevronDown" [fixedWidth]="true" class="mx-2"></fa-icon>
        </button>
        <ul class="py-2 space-y-2 ml-9" *ngIf="status">
          <li>
            <a routerLink="dashboard/item-list"
            routerLinkActive="active"
            class="flex items-center w-full py-2 text-gray-500 duration-75 rounded-lg group hover:bg-gray-100 hover:text-gray-900">
              <fa-icon [icon]="faRetweet" [fixedWidth]="true" class="mx-2"></fa-icon>
              <span class="text-gray-900">Rental</span>
            </a>
          </li>
          <li>
            <a routerLink="dashboard/item-list"
            routerLinkActive="active"
            class="flex items-center w-full py-2 text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-gray-900">
              <fa-icon [icon]="faListUl" [fixedWidth]="true" class="mx-2"></fa-icon>
              <span class="text-gray-900">Item</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a routerLink="dashboard/item-list"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-900">
          <fa-icon [icon]="faHeadset" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="text-gray-900">Customer Center</span>
        </a>
      </li>

      <li>
        <a routerLink="dashboard/item-list"
        routerLinkActive="active"
        class="flex items-center w-full py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-900">
          <fa-icon [icon]="faGears" [fixedWidth]="true" class="mx-2"></fa-icon>
          <span class="text-gray-900">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
