<div class="gap-x-4 py-4 flex flex-row w-full items-center justify-between">
  <div class="basis-1/3 w-full bg-primary-slate rounded-lg border border-secondary-slate">

    <div class="p-4">
      <app-heading [title]="title" [subtitle]="subtitle"></app-heading>
      <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [markers]="chartOptions.markers!"
      [dataLabels]="chartOptions.dataLabels!">

      </apx-chart>
    </div>

  </div>
  <div class="basis-1/3">02</div>
  <div class="basis-1/3">03</div>
</div>
