<div class="gap-x-4 mt-16 grid grid-cols-3 w-full items-center">

  <div class="shadow rounded-lg border bg-white">
    <div class="p-4 w-full h-96">
      <app-cash-flow-chart></app-cash-flow-chart>
    </div>
  </div>

  <div class="shadow rounded-lg border bg-white">
    <div class="p-4 w-full h-96">
      <app-line-chart></app-line-chart>
    </div>
  </div>

  <div class="shadow rounded-lg border bg-white">
    <div class="p-4 w-full h-96">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>


