<div class="mt-16 items-center">

  <div class="gap-4 grid">
    <!-- row 1 -->
    <div class="gap-4 grid grid-rows-1 grid-flow-col">
      <div *ngFor="let item of listCard">
        <div class="col-span-1 row-span-1 p-4 shadow rounded-lg border bg-white">
          <app-cash-flow-chart
            [ic]="item.icon"
            [title]="item.title"
            [nominal]="item.nominal"
            [gainNominal]="item.gain"
            [mode]="item.currency"
            [colors]="item.color">
            </app-cash-flow-chart>
        </div>
      </div>
    </div>
    <!-- end row 1 -->

    <!-- row 2 - 3-->
    <div class="gap-4 grid grid-flow-row grid-cols-4">
      <!-- row 2 -->
      <div class="col-span-3 row-span-1 p-4 shadow rounded-lg border bg-white">
        <app-main-chart></app-main-chart>
      </div>
      <div class="col-span-1 row-span-1 p-4 shadow rounded-lg border bg-white">
        <app-pie-chart></app-pie-chart>
      </div>
      <!-- end row 2 -->

      <!-- row 3 -->
      <div class="col-span-3 row-span-1 p-4 shadow rounded-lg border bg-white">
        <app-list
        [headerList]="headerList"></app-list>
      </div>

      <!-- end row 3 -->
    </div>
    <!-- end row 2 - 3 -->

  </div>

</div>




