<div class="mt-16 items-center">

  <div class="gap-6 grid">
    <!-- row 1 -->
    <div class="gap-6 grid grid-rows-1 grid-cols-4">
      <div *ngFor="let item of listCard">
        <div class="col-span-1 row-span-1 p-4 shadow-sm shadow-transparent rounded-xl bg-white">
          <app-cash-flow-chart
            [ic]="item.icon"
            [title]="item.title"
            [nominal]="item.nominal"
            [gainNominal]="item.gain"
            [mode]="item.currency"
            [colors]="item.color">
            </app-cash-flow-chart>
        </div>
      </div>
    </div>
    <!-- end row 1 -->

    <!-- row 2 - 3-->
    <div class="gap-6 grid grid-flow-row grid-cols-4">
      <!-- row 2 -->
      <div class="col-span-3 row-span-1 ">
        <div class=" flex flex-col w-full h-full">

            <div class="inline-flex items-center justify-between py-4">
              <app-heading [title]="'Overall Sales'" class="text-2xl text-slate-500 font-semibold"></app-heading>
              <span class="text-slate-500 text-lg">March 2023 - October 2023</span>
              <button type="button" title="range" class="text-center items-center inline-flex font-medium py-2.5 px-5 justify-between shadow-sm shadow-transparent text-blue-400 bg-white rounded-lg hover:bg-blue-400 hover:text-slate-100">
                <fa-icon [icon]="faCalendar" [fixedWidth]="true" class="mr-2"></fa-icon>
                <span>Yearly</span>
                <fa-icon [icon]="faChevronDown" [fixedWidth]="true" class="ml-2"></fa-icon>
              </button>

            </div>

          <div class=" rounded-xl bg-white shadow-sm shadow-transparent h-full pt-4 justify-center items-center">
            <app-main-chart class="w-fit"></app-main-chart>
          </div>

        </div>

      </div>

      <div class="col-span-1 row-span-1">
        <div class="flex flex-col w-full h-full">

          <div class="inline-flex py-4 w-full justify-between items-center">
            <app-heading [title]="'Completed SO'" class="text-2xl font-semibold text-slate-500"></app-heading>
            <button type="button" class="text-slate-500 font-medium rounded-lg px-5 py-2.5 hover:bg-white" title="more">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </button>

          </div>


          <div class="flex flex-col w-full h-full justify-between py-4 px-8 shadow-sm shadow-transparent rounded-xl bg-white">
            <div *ngFor="let item of listSO">
              <app-progress-bar [title]="item.numberSO"></app-progress-bar>
            </div>
          </div>

        </div>



      </div>
      <!-- end row 2 -->

      <!-- row 3 -->
      <div class=" col-span-4 row-span-1">
        <div class="flex flex-col w-full">
          <div class="flex flex-row w-full justify-between">
            <div class="flex items-center py-4">
              <app-heading [title]="'Loading Control Produksi'" class="text-2xl font-semibold text-slate-500"></app-heading>
            </div>
            <button type="button" class="font-semibold w-28 h-fit py-2.5 shadow-sm shadow-transparent rounded-xl bg-white text-blue-400 hover:bg-blue-400 hover:text-slate-100">See more</button>
          </div>
        </div>
          <app-list [headerList]="headerList" [list]="listSO"></app-list>

      </div>

      <!-- end row 3 -->
    </div>
    <!-- end row 2 - 3 -->

  </div>

</div>




