<div class="mt-16 items-center">

  <div class="flex flex-col w-full bg-slate-100">
    <!-- header -->
    <div class="flex items-center py-4 w-full">
      <app-heading [title]="'Add Purchase Item'" class="text-2xl text-slate-500 font-semibold"></app-heading>
    </div>

    <div class="flex flex-col w-full h-full justify-between p-4 shadow-sm shadow-transparent rounded-xl bg-white">
      <!-- sub header -->
      <div class="pb-4 border-b border-slate-300">
        <app-heading [title]="'Item Information'" class="text-xl text-slate-400 font-medium"></app-heading>
      </div>

      <form>
        <div class="grid grid-cols-2 gap-6 p-4">
          <app-single-form-input [label]="'Name of Item'" [placeholder]="'item name'" [id]="'item_name'"></app-single-form-input>
          <app-single-form-input [label]="'Serial Number'" [placeholder]="'Serial Number'" [id]="'serial_number'"></app-single-form-input>
        </div>
      </form>

    </div>

  </div>
</div>
